
<div>
  <h1>lista de tareas</h1>
  <form [formGroup]="formulariotarea">
    <input type="text" placeholder="ingrese nueva tarea" formControlName="nombre">
    <button [disabled]="formulariotarea.invalid" style="background-color: chartreuse;"
    (click)="agregarTarea()"
    >Agregar</button>
  </form>

  <ul style="background-color: orangered ;">
    @for(task of listaTareas; track task.idTarea){
      <div style="background-color:orangered; color: white;">
      <li>{{task.nombre}}</li>
      <button style="background-color: red;"
      
      (click)="eliminarTarea(task)">eliminar</button>
      </div>
    }
   
  </ul>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
